.sidebar {
  flex: 1.25;
  border-right: 0.5px solid rgb(231, 228, 228) !important;
  min-height: 100vh;
  background-color: #00c16e;
}

.sidebar > .top {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar > hr {
  height: 0;
  border: 0.5px solid rgb(231, 228, 228) !important;
  margin: 5px 0;
}

/* .sidebar > .center {
   padding-left: 10px; 
} */

.title {
  font-size: 16px;
  font-weight: bold;
  color: #999;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.side-icon {
  color: #eeeeee;
  width: 20px;
  height: 20px;
}

.bottom-icon {
  color: #eeeeee;
  width: 20px;
  height: 20px;
}

.sidebar > .icon-list > ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.tab {
  display: flex;
  align-items: center;
  padding: 16px;
  padding-left: 18px;
  cursor: pointer;
  color:rgb(231, 228, 228);
}

.stats-tab {
  display: flex;
  align-items: center;
  padding: 16px;
  padding-left: 18px;
  background-color:#1b7e53;
}

.tab:hover {
  background-color: #979797;
  color: #FFFFFF;
}

.sidebar > .icon-list > ul span {
  font-size: 16px;
  font-weight: 600;
  color: #eeeeee;
  margin-left: 10px;
}
.avatar1 {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: white;
  /* background-size: cover; */
  background-position: center;
}

.uwc-logo {
  position:fixed;
  left: 15px;;
  top:0;
  max-width: 70%;
  max-height: 10%;
}

.side-title {
  padding: 8px 20px;
  justify-content: center;
  font-weight: 500;
  color: #FFFFFF;
}

.stats {
  width: 72px;
  margin-left: auto !important;
  
}

