table {
  border-collapse: separate;
  width: 100%;
  background-color:#ededed ;
}

table td,
table th {
  border-radius: 2px;
  padding: 8px;
}
table th:first-child{
  background-color: #263A29;
  color: #FFFFFF;
}

table tr:nth-child(odd) {
  background-color: #00c16e;
  color: #FFFFFF;
}
table tr:nth-child(even) {
  background-color: #ffffff;
  color: #00c16e;
}

table tr:hover {
  background-color: #585757;
  color: #fffdfd;
}

table th,
tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  /* background-color: #3eba8f !important; */
  color: #333;
}

.pagination {
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.page-item {
  margin: 4px;
}

.page-link {
  border-radius: 8px !important;
  color: #666;
}

.page-link:hover {
  color: #00c16e;
}

.page-item.active .page-link {
  background-color: #00c16e;
  border-color: #00c16e;
}
