.dashboard {
  display: flex;
}
.dashboard-container {
  flex: 4;
}
.dashboard-content {
  margin: 0px 40px;
  display: flex;
}

.map-content {
  flex-basis: 60%;
  width: 600px;
}

.map {
  width: 95%;
  height: 600px;
}

.table-content {
  background-color: rgb(255, 255, 255);
  flex-basis: 50%;
  display: absolute;
  flex-direction: column;
}

.table-info {
  margin-bottom: 20px;
  color: #00c16e;
}
